
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
    <%= @game.player_1.name %> vs <%= @game.player_2.name %> .... FIGHT!

    <div>
      <%= @game.player_2.name%>
      <br>
      <%= @game.player_2.name %> HP = <%= @game.player_2.hp %>
    </div>
    <div class="">
      <%= @game.player_1.name%>
      <br>
      <%= @game.player_1.name %> HP = <%= @game.player_1.hp %>
    </div>
    <form action="/attack" method="post">
      <input type="submit" value="Attack">
    </form>
    <br>
    <form action="/heal" method="post">
      <input type="submit" value="heal">
    </form>
  </center>
  </body>
</html>
